Q1. Create one variable containing following type of data:

(i) string

In [1]:
a = "Shaquib"

(ii) list

In [ ]:
lis= [1,2,3,4,"shaq",3.455]

(iii) float

In [3]:
f = 1.23

(iv) tuple

In [4]:
tup = ("qwerty", 12, 13.45, True)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

ans= String

(ii) var2 = ‘[ DS , ML , Python]’

ans= String

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

ans= List

(iv) var4 = 1

ans= Integer

Q3. Explain the use of the following operators using an example:

(i) /: It is a division operator, it divided 2 numbers. For example:

In [13]:
a = 12
b = 6

In [14]:
print(a/b)

2.0

(ii) %: It is a modulus operator, it gives the remainder of 2 numbers. For example:

In [16]:
print(a%b)

0

(iii) //: It is a floor division operator, it gives the division of 2 numbers rounded off in integer. For example:

In [17]:
print(a//b)

2

(iv) **: It is a power operator, it gives the number raise to the power of another number. For example:

In [18]:
print(a**b)

2985984

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [2]:
lis1 = ["str", 1,2,3,4, True, False, "hello", 12.3444, 12222123233123.12232132132]

In [3]:
for i in lis1:
    print(i) 
    print(type(i))

str
<class 'str'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
True
<class 'bool'>
False
<class 'bool'>
hello
<class 'str'>
12.3444
<class 'float'>
12222123233123.123
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [7]:
def divs_count(a,b):
    count = 0
    while (a%b==0):
        count += 1
        a /= b
    return count 
A = 50
B = 5
divisions = divs_count(A,B)
if (divisions>0):
    print(A,"is divisible by",B,",",divisions,"times.")
else:
    print("A is not divisible by b")

50 is divisible by 5 , 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [8]:
lis2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [9]:
for i in lis2:
    if(i%3==0):
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

ans= mutable data types are those data types which can be altered or modified after their making
whereas immutabile data types can not be altered or changed once they are created.
For example: List is a mutable data type where a String is an immutable data type.